body {
    font-family: 'Poppins', sans-serif; 
    background:#FEF9F3;
    padding: 10 10 10 10;
   }
   .w3-container{
       width: 33.33%;
       /* height: 800px; */
   }

   .box{
       background-color:#f74d4d ;
       text-align: center;
       border-radius: 20px;
       /* margin-top: 20%; */

       /* width: 400px; */
       /* padding-bottom: 20px;
       padding-right: 40px;
       padding-left: 40px; */
       
   }
   .box h1{
    color: #000000;
    padding-top: 10px;
   }

   table .pull-left ,.pull-righ{ 
    font-family: 'Poppins', sans-serif; 

   }

   img{
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    width: 180px;
    height:auto;
  }

  i{
    font-size:20px;
    color: #fff;
  }

  input{
    background: #FFFFFF;
    border-radius: 20px;
    border: medium none ;
    color: #000000;
    /* display: block; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 70%;
    
  }
  
  .w3-cell-row {
    font-family: 'Poppins', sans-serif; 
    
  }

.title{
      text-align: left;
      font-size: 18px;
      padding-left: 80px;
      padding-top: 25px;
      color: #000;
  }

  #last{
      padding-bottom: 20px;
  }

  /* .control-group button{
    background: #000000;
    border: medium none;
    font-size: 14px;
    border-radius: 30px;
    color: #FFFFFF;
    display: block;
    font-family: 'Poppins', sans-serif;
    padding: 6px 25px;
    margin: auto ;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  } */

  button{
    position:relative;
    background: #000000;
    border: medium none;
    font-size: 50px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 6px 25px;
  }

  #text_forgot {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left:45%;
    color: #000;
  }